*{
    background-color: #F8F7F4;
    font-family: sans-serif;
    /* overflow: hidden; */
}
.header-bar{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
li{
    list-style: none;
    display: inline-table;
    justify-content: space-between;
    margin-left: 20px;
}
.logo{
    height: 10%;
    width: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}
input{
    padding: 5px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    margin-bottom: 10px;
}
.color-butn{
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    animation-name: button;
    cursor: pointer;
    border: none;
    height: 30px;
    font-weight: bolder;
    animation-name: button;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    width: 20%;
    border-radius: 50px 50px 50px 50px;
}

@keyframes button{
    0%   {background-color: rgb(136, 233, 194);}
  25%  {background-color: rgb(228, 228, 92);}
  50%  {background-color: rgb(129, 197, 231);}
  100% {background-color: rgb(219, 134, 108);}
}

.content {
        text-align: center;
        padding: 100px 20px;
        
    }
.btn{
    background-color: black;
    color: white;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
}
.login-btn{
    border: none;
    color: black;
    cursor: pointer;
}
.button1{
/* justify-content: flex-end; */
justify-content: space-evenly;
display: inline-table;
display: flex;
margin-right: 10px;
}
 h1{
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 400%;
}
p{
    font-size: 150%;
}

a{
    text-decoration: none;
    color: black;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-track {
    display: flex;
    /* transition: transform 0.5s ease; */
    display: flex;
    animation: scroll 20s linear infinite;
}

.slide {
    min-width: 25%; /* Adjust for 4 images, use 33.33% for 3 images */
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}



@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}